# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html
#include the api read only account
!/site/accounts/Q0DRKlPv

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
