
@tailwind base;


@font-face {
    font-family: 'Supply';
    src: url('fonts/Supply-Bold.woff2') format('woff2'),
         url('fonts/Supply-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Supply';
    src: url('fonts/Supply-Medium.woff2') format('woff2'),
         url('fonts/Supply-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Supply';
    src: url('fonts/Supply-Regular.woff2') format('woff2'),
         url('fonts/Supply-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/objectsans-regular.woff2') format('woff2'),
         url('fonts/objectsans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/objectsans-slanted.woff2') format('woff2'),
         url('fonts/objectsans-slanted.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Object Sans';
    src: url('fonts/objectsans-medium.woff2') format('woff2'),
         url('fonts/objectsans-medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    @apply font-body;
    margin: 0 !important;
}

page {
    min-height: calc(100vh - 8rem);
}

.custom-cursor {
    cursor: url("img/cursor_black.svg"), auto;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

.border-1 {
    border-width: 1px;
    border-radius: 8px;
}

main {
    @apply px-4 pt-4 mt-10;
    @screen md {
        @apply px-8
    }
}

footer {
    cursor: url("img/cursor_white_b.svg"), auto;
    border-top: 1px solid white;
}

.sponsor-section {
    cursor: url("img/cursor_white_b.svg"), auto;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    color: #d1d3d4
}

@tailwind components;

.btn {
    @apply font-display border-1 border-black px-4 py-2 bg-white transition duration-300;
}

.btn:hover {
    @apply bg-black text-white;
}

.tw-container {
    @apply pt-4 max-w-screen-lg mx-auto;
}




@tailwind utilities;
